In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("20250521_Trials for dev.xlsx", sheet_name="250529_NSCLC", skiprows=2)

In [3]:
df.head()

,NCT_ID,Arm,to keep,Iteration,Pubmed Link,Downloaded Paper Link,Total Population,arm_n,intervention,existing?,...,need_to_be_dropped,NOTES,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,100
0,NCT02142738,Intervention,1.0,2025-05-29,https://pmc.ncbi.nlm.nih.gov/articles/PMC82800...,NaN,305.0,154,Pembrolizumab,0.0,...,0.0,(PD-L1) tumor proportion score of at least 50%...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Control,1.0,2025-05-29,NaN,NaN,NaN,151,platinum + pemetrexed or gemcitabine or paclit...,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NCT02041533,Intervention,1.0,2025-05-29,https://www.nejm.org/doi/full/10.1056/NEJMoa16...,NaN,541.0,211,Nivolumab,0.0,...,0.0,8% recurrent not necessarily stage IV NSCLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Control,1.0,2025-05-29,NaN,NaN,NaN,212,platinum-based doublet chemotherapy,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Intervention,1.0,NaT,NaN,NaN,NaN,47,Nivolumab,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(96, 52)

In [5]:
# renaming the NCT_ID column as rct_id
df.rename(columns={'NCT_ID': 'rct_id'}, inplace=True)

In [6]:
df.head(2)

,rct_id,Arm,to keep,Iteration,Pubmed Link,Downloaded Paper Link,Total Population,arm_n,intervention,existing?,...,need_to_be_dropped,NOTES,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,100
0,NCT02142738,Intervention,1.0,2025-05-29,https://pmc.ncbi.nlm.nih.gov/articles/PMC82800...,NaN,305.0,154,Pembrolizumab,0.0,...,0.0,(PD-L1) tumor proportion score of at least 50%...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Control,1.0,2025-05-29,NaN,NaN,NaN,151,platinum + pemetrexed or gemcitabine or paclit...,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
arm_check = df.groupby(['rct_id']).agg({'Arm': 'nunique'}).reset_index()
arm_check[arm_check['Arm'] > 1]

        rct_id  Arm
36  Results NA    2

In [7]:
df['is_target_trial'] = df['rct_id'].apply(lambda x: 1 if x == 'NCT02578680' else 0)

In [8]:
df['is_target_trial'].value_counts()

is_target_trial
0    95
1     1
Name: count, dtype: int64

In [12]:
df.to_csv("data/trial_data.csv", index=False)

Arm
Intervention    1
Name: count, dtype: int64